.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4a2775;
  
}
.card-home-page {
  background-color: rgb(245,245,245);
  min-width: 50px;
  min-height: 60%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.image-vertical {
  background-image: url("../../assets/BrameTime.jpg");
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.go-button {
  border-radius: 20;
  width: 100;
  height: 40;
}

.image-card-1 {
  background-image: url("../../assets/BrameTime.jpg");
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-button {
}
