body{
  margin: 0 ;
}

.main-layaout {
  height: 100vh;
}
.main-layout-header {
  text-align: center;
  color: #fff;
  height: 64;
  padding-inline: 50;
  line-height: 64px;
  background-color: "#7dbcea";
}


.main-layout-content{
  
}

.main-layout-footer{

}
